.lista-suspensa label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.lista-suspensa select {
  background-color: #6278f7;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  color: #ffec05;
  width: 100%;
  border-radius: 10px;
  font-size: 24px;
  padding: 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 760px) {
  .lista-suspensa option {
    font-size: 16px;
  }

  .lista-suspensa label {
    font-size: 16px;
  }

  .lista-suspensa select {
    padding: 12px;
    font-size: 16px;
  }
}
